<tr>
  <th scope="row">
    <%= link_to trainers_course_user_course_path course, item do%>
      <%= item.name %>
    <% end %>
  </th>
  <% item.task_done.each do |task| %>
    <% task_percents = task_percent task.task_done, task.subject_id %>
    <td class="text-light text-center border-right <%= task_percents[:color] %>"><%= task_percents[:percent] %> %</td>
  <% end %>
</tr>
